.container{
display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;

}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #0d6efd;

 }
.block.block2{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: yellow;
}
.block.block3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: black;
}
.block.block4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #1e2136;
}
.block.block5{
grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #6c757d;
}
.block.block6{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #0dcaf0;
}
.block.block7{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #6a478f;
}
.block.block8{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #30997a;
}
