table
{
    border-style: solid;
}
th,td
{
    border-style: dotted;
}

tr#maand
{
background-color:rgb(170,170,200);

}
tr#dagen
{
    background-color:rgb(35,37,70);
    color: rgb(200,190,240);
}
td.feestdagen, #feestdag
{
    background-color: rgb(250,120,120);

}
td:first-child, td:last-child
{
    background-color:rgb(255, 220, 220);
}
td.andereMaand
{
background-color:gray;
}