/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}
*
{
    margin: 0;
    font-family: Helvetica, sans-serif;

}
h1
{
    font-size: 2.5em;
    border-bottom: black 2px solid;
    margin-bottom: 100%;
    padding-bottom: 100%;

}
h2
{
    font-size: 150%;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
article
{
    margin-top: 50px;
    max-width: 600px;
}

@media screen and (min-width: 770px)
{
    article
    {
        max-width: 750px;

    }

}
#left
{
    width: 49%;
    float: left;
    line-height: 2em;
    text-align: right;
    padding-top:20px;

}
#right
{
    width: 49%;
    float: right;
    line-height: 2em;
    color: white;
    background-color: black;
}

@media screen and (min-width: 1000px)
{
    article
    {
        max-width: 980px;

    }

}
